$inputHeight: 38px;
$inputBorderColor: #d3d8de;

.root {
  margin: 0;
  padding: 0;
  width: 100px;
  position: relative;
  align-self: center;
}
.input {
  margin: 2px 0 0 0;
  padding: 0 11px;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #7c858d;
  height: 25px;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid $inputBorderColor;
  outline: none;
}
.input:focus,
.input:active {
  border-color: #f6ab38;
  outline: none;
}
.input:hover {
}
.label {
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
}
.text {
  color: #666;
  font-size: 12px;
}
